/*-----------------------------------------------------------------------------------
9.	Cars slider
10.	Reservation Form
-----------------------------------------------------------------------------------*/
/*******************************************
 * 9. Cars slider
 *******************************************/
.cars-slider {
	position:relative;
}

.cars-slider:after {
	content:'';
	position:absolute;
	left:50%;
	top:100%;
	margin-left:-17px;
	border:17px solid transparent;
	border-bottom:0;
	z-index:1;
}

.car-slider__title-wrapper {
	text-align:center;
	padding:30px 0 0 0;
}

.cars-slider .cars-slider__title {
	margin:0;
	font-size:428%;
}

.cars-slider__subtitle {
	
}

.cars-slider__item-inner {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
  
	padding:30px 0;
}

.cars-slider__item-image img {
	display:block;
	margin:0 auto;
}

.cars-slider__item-description {
	position:relative;
	z-index:1;
	-webkit-flex: 0 0 55%;
	-ms-flex: 0 0 55%;
	flex: 0 0 55%;
}

.cars-slider__item-image {
	margin:0 -45% 0 -55%;
}

.cars-slider__item-options {
	position:relative;
	z-index:1;
	-webkit-flex: 0 0 45%;
	-ms-flex: 0 0 45%;
	flex: 0 0 45%;
	text-transform:uppercase;
	font-size:85%;
  
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.cars-slider__item-options-inner {

}

.cars-slider__item-option {
	padding-left:64px;
	line-height:44px;
	white-space:nowrap;
	margin:9px 0;
}

.cars-slider__item-option:before {
	display:inline-block;
	position:relative;
	left:-64px;
	margin-right:-44px;
	text-indent:0;
	font-family:'omFont';
	width:44px;
	height:44px;
	line-height:44px;
	text-align:center;
	border-radius:50%;
	font-size:25px;
	vertical-align:top;
}

.car-option-doors:before {
	content:'\e909';
	text-indent:-2px;
}

.car-option-passengers:before {
	content:'\e90b';
}

.car-option-luggage:before {
	content:'\e90a';
}

.car-option-transmission:before {
	content:'\e90c';
}

.car-option-conditioning:before {
	content:'\e908';
	text-indent:6px;
}

.car-option-age:before {
	content:'\e907';
}

.car-option-excess:before {
	content:'\e90e';
}

.car-option-fuel:before {
	content:'\e90f';
}

.cars-slider__item-category {
	font-size:85%;
	margin-bottom:6px;
}

.titles--uppercase .cars-slider__item-category {
	text-transform:uppercase;
}

.cars-slider__model {
	font-size:300%;
	line-height:1.1;
}

.cars-slider__model-inner {
	display:inline-block;
}

.cars-slider .cars-slider__model {
	margin:2px 0;
	max-width:400px;
}

.cars-slider__item-description-sep {
	width:85px;
	height:12px;
	margin:18px 0 12px 0;
}

.titles--uppercase .cars-slider__item-price {
	text-transform:uppercase;
}

.cars-slider__item-price-from {
	margin-right:.3em;
	opacity:.8;
}

.cars-slider__item-price-value {
	font-size:239%;
}

.cars-slider__item-price-period {
	vertical-align:top;
	position:relative;
	top:.65em;
	margin-left:.3em;
	opacity:.8;
}

.cars-slider__item-price-period:before {
	content:'/';
	vertical-align:top;
}

.cars-slider__item-reserve {
	margin-top:41px;
}

.cars-slider__item-reserve-mobile {
	display:none;
}

.cars-slider__item-reserve-button {
	display:inline-block;
	text-decoration: none;
	padding:0 45px;
	line-height:55px;
	cursor:pointer;
	font-weight:bold;
	color:#fff;
	font-size:128%;
	border-radius:2px;
	-webkit-transition:all .2s;
	transition:all .2s;
}

.cars-slider__item-reserve-button:hover {
	text-decoration: none;
}

.titles--uppercase .cars-slider__item-reserve-button {
	text-transform:uppercase;
}

.cars-slider .owl-dots {
	display:none !important;
}

.cars-slider .owl-controls {
	position:absolute;
	top:50%;
	height:0;
	left:0;
	right:0;
}

.cars-slider .owl-nav {
	max-width:1168px;
	margin:0 auto;
	position:relative;
}

.cars-slider .owl-prev {
	position:absolute;
	top:-30px;
	left:-90px;
}

.cars-slider .owl-next {
	position:absolute;
	top:-30px;
	right:-90px;
}

@media only screen and (max-width: 1400px) {
	.cars-slider .owl-prev {
		left:-60px;
	}
	
	.cars-slider .owl-next {
		right:-60px;
	}
}
@media only screen and (max-width: 1350px) {
	.cars-slider .owl-controls {
		top:auto;
		bottom:30px;
	}
	.cars-slider .owl-prev {
		left:30px;
		top:auto;
		bottom:0;
	}
	
	.cars-slider .owl-next {
		right:auto;
		left:100px;
		top:auto;
		bottom:0;
	}
	
	.cars-slider__item-description {
		padding-bottom:80px;
	}
}

/* animation */

.cars-slider__model-inner {
	opacity:0;
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	
	-webkit-transition:all 0 ease .25s;
	transition:all 0 ease .25s;
}

.active .cars-slider__model-inner {
	opacity:1;
	-webkit-transform:scale(1);
	transform:scale(1);
	-webkit-transition-duration:.25s;
	transition-duration:.25s;
	-webkit-transition-delay:.25s;
	transition-delay:.25s;
}

.cars-slider__item-category,
.cars-slider__item-description-sep,
.cars-slider__item-price,
.cars-slider__item-reserve,
.cars-slider__item-option {
	opacity:0;
	
	-webkit-transition:all 0 ease .25s;
	transition:all 0 ease .25s;
}

.active .cars-slider__item-category,
.active .cars-slider__item-description-sep,
.active .cars-slider__item-price,
.active .cars-slider__item-reserve {
	opacity:1;
	-webkit-transition-duration:1s;
	transition-duration:1s;
	-webkit-transition-delay:.3s;
	transition-delay:.3s;
}

.active .cars-slider__item-reserve {
	-webkit-transition-delay:.35s;
	transition-delay:.35s;
}

.active .cars-slider__item-option {
	opacity:1;
	-webkit-transition-duration:1s;
	transition-duration:1s;
	-webkit-transition-delay:.6s;
	transition-delay:.6s;
}

.active .cars-slider__item-option:nth-child(1) {
	-webkit-transition-delay:.3s;
	transition-delay:.3s;
}

.active .cars-slider__item-option:nth-child(2) {
	-webkit-transition-delay:.35s;
	transition-delay:.35s;
}
.active .cars-slider__item-option:nth-child(3) {
	-webkit-transition-delay:.4s;
	transition-delay:.4s;
}
.active .cars-slider__item-option:nth-child(4) {
	-webkit-transition-delay:.45s;
	transition-delay:.45s;
}
.active .cars-slider__item-option:nth-child(5) {
	-webkit-transition-delay:.5s;
	transition-delay:.5s;
}
.active .cars-slider__item-option:nth-child(6) {
	-webkit-transition-delay:.55s;
	transition-delay:.55s;
}

/*******************************************
 * 10. Reservation Form
 *******************************************/

.reservation--hidden {
	display:none;
}

.reservation--short .reservation-form__more {
	display:none;
}

.reservation-form {
	color:#fff;
	text-align:center;
	padding:25px 0 50px 0;
	position:relative;
}

.reservation-form a {
	color:#fff;
}

.reservation-form:after {
	content:'';
	position:absolute;
	left:50%;
	top:100%;
	margin-left:-17px;
	border:17px solid transparent;
	border-bottom:0;
	z-index:1;
}

.reservation-form__inner {
	margin:0 -15px;
}

.reservation-form__title {
	font-size:257%;
}

.reservation-form .reservation-form__title {
	margin:0;
}

.reservation-form select,
.reservation-form input[type=text] {
	background-color:#fff;
	border-color:rgba(0,0,0,.2);
	line-height:24px;
	color:#222;
}

.reservation-form select {
	height:50px;
}

.reservation-form input[type=text]:focus {
	border-color:rgba(0,0,0,.2);
}

.reservation-form__car .reservation-form__field-inner {
	position:relative;
}

.reservation-form__car-select-label {
	position:absolute;
	top:0;
	left:0;
	right:0;
	text-align:center;
	line-height:24px;
	padding:13px 15px;
	color:#222;
	font-weight:bold;
	font-size:128%;
	pointer-events:none;
}

.titles--uppercase .reservation-form__car-select-label {
	text-transform:uppercase;
}

.reservation-form__titles {
	margin:25px 0 0;
}

.reservation-form__line {
	margin:25px 0 0;
}

.reservation-form__line:after {
	content:'.';
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
}

.reservation-form__field-inner {
	margin:0 15px;
	border-radius:2px;
}

.reservation-form__car-select {
	width:100%;
}

.reservation-form__location {
	width:50%;
	float:left;
}

.reservation-form__label {
	display:block;
	background:#fff;
	color:#222;
	line-height:24px;
	padding:12px 15px;
	border:1px solid rgba(0,0,0,.2);
	border-right:0;
	border-radius:2px 0 0 2px;
	text-align:left;
	font-weight:bold;
	white-space:nowrap;
}

.titles--uppercase .reservation-form__label {
	text-transform:uppercase;
}

.reservation-form__location-label:before {
	content:'\e901';
	font-family:'omFont';
	font-size:16px;
	vertical-align:top;
	font-weight:normal;
	margin-right:7px;
}

.reservation-form__date-label:before {
	content:'\e90d';
	font-family:'omFont';
	font-size:15px;
	vertical-align:top;
	font-weight:normal;
	margin-right:7px;
}

.reservation-form__location .reservation-form__field-inner,
.reservation-form__date .reservation-form__field-inner {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}

.reservation-form__location .reservation-form__label,
.reservation-form__date .reservation-form__label {
  -webkit-flex:0 0 110px;
  -ms-flex:0 0 110px;
  flex:0 0 110px;
}

.reservation-form__location .select2-container,
.reservation-form__location select,
.reservation-form__date-wrapper {
	width:auto !important;
  -webkit-flex:0 1 100%;
  -ms-flex:0 1 100%;
  flex:0 1 100%;
  overflow:hidden;
}

.reservation-form__date-wrapper input[type=text] {
	width:100%;
	box-sizing:border-box;
	border-radius:0 2px 2px 0;
}

.reservation-form .select2-container--default .select2-selection--single {
	border-radius:0 2px 2px 0;
	border:1px solid rgba(0,0,0,.2);
	text-align:left;
}

.reservation-form .select2-container .select2-selection--single {
	height:auto;
}

.reservation-form .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height:24px;
	padding:12px 30px 12px 20px;
}

.reservation-form .select2-container--default .select2-selection--single .select2-selection__arrow {
	height:auto;
	bottom:0;
	top:0;
	right:0;
	width:26px;
}

.om_theme .select2-dropdown {
	border-radius:2px;
	border-color:rgba(0,0,0,.2);
}

.om_theme .select2-results__option {
	padding:8px 20px;
}

.om_theme .select2-search--dropdown {
	padding:8px 20px;
}

.om_theme .select2-container--default .select2-search--dropdown .select2-search__field {
	border-color:rgba(0,0,0,.2);
	padding:8px 4px;
}

.reservation-form__date {
	width:35%;
	float:left;
}

.reservation-form__date input {
	border-radius:0 2px 2px 0;
}

.reservation-form__time {
	width:15%;
	float:left;
}

.reservation-form__time select {
	width:100%;
}

.reservation-form__required-notice {
	display:none;
}

.reservation-form__required-notice-box {
	background: #e91e22;
	color: #fff;
	padding: 12px 30px;
	border-radius: 2px;
}

.reservation-form__submit {
	margin-top:40px;
	margin-bottom:0;
	position:relative;
}

.reservation-form .ajax-loading {
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	margin:-14px 0 0 -14px;
}

.reservation-form__submit-button:disabled {
	cursor:default;
	color:rgba(255,255,255,.4);
}

.reservation-form__field-inner.error {
	box-shadow:0 0 0 1px red;
	-webkit-transition: box-shadow .4s;
	transition: box-shadow .4s;
}

.error .reservation-form__car-select,
.error .reservation-form__label,
.reservation-form .error .select2-selection--single,
.reservation-form .error input[type=text] {
	border-color:red !important;
	-webkit-transition: border .4s;
	transition: border .4s;
}

/* date picker */

.ui-datepicker {
	background:#fff;
	box-shadow:0 0 0 1px #cdcdcd;
	padding:20px;
	margin-left:1px;
	box-sizing:border-box;
	display:none;
}

.ui-datepicker-header {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  
  margin-bottom:10px;
}

.ui-datepicker-prev {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
}

.ui-datepicker-title {
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

.ui-datepicker-next {
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	cursor:pointer;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
	text-decoration:none;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:before {
	content:'\e605';
	font-family:'omFont';
	display:inline-block;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	border-radius:50%;
	font-size:14px;
	text-indent:-1px;
}

.ui-datepicker-next:before {
	content:'\e608';
	text-indent:1px;
}

.ui-datepicker-title {
	margin:0 10px;
}

.ui-datepicker-calendar {
	width:100%;
	text-align:center;
	border-collapse:collapse;
}

.ui-datepicker-calendar a.ui-state-default {
	display:block;
	color:inherit;
	text-decoration:none;
	padding:2px 3px;
	-webkit-transition:all .2s;
	transition:all .2s;
}

.ui-datepicker-calendar span.ui-state-default {
	display:block;
	padding:2px 3px;
}

.ui-datepicker-calendar td a:not(.ui-state-active):hover,
.ui-datepicker-calendar td a.ui-state-active {
	color:#fff;
}

/* custom location */

.reservation-form__custom-location-wrapper {
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	display:none;
	position: relative;
}

.reservation-form__custom-location-wrapper .dropdown-arrow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 26px;
	cursor: pointer;
}

.reservation-form__custom-location-wrapper .dropdown-arrow:before {
	content:'';
	border-color: transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	position: absolute;
	left: 50%;
	margin-left: -4px;
	margin-top: -2px;
	top: 50%;
	width: 0;
}

.reservation-form__pick-up-custom,
.reservation-form__drop-off-custom {
	width:100%;
	box-sizing: border-box;
}

