.hq-general-settings-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 90%;
}

.hq-general-settings-item-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 50px;
}

.hq-general-settings-item {
    display: flex;
    flex-direction: row;
}

.hq-admin-text-input, .hq-admin-select-input {
    height: 35px !important;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px;
}
.hq-admin-select-input{
    width: 100%;
}
.hq-general-input-wrapper {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: flex-start;
}

.hq-general-label-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.small {
    max-width: 50px !important;
}
.tokens{
    flex: 4;
}
#hq-tooltip-user-token, #hq-tooltip-tenant-token{
    padding-left: 10px;
    padding-right: 10px;
}
.hq-tokens-rows{
    justify-content: flex-start;
}
.hq-dates{
    flex:  35 !important;
}
.hq-dates-input{
    flex:  65 !important;
}
.hq-admin-warning-section {
    max-width: 800px;
}

.hq-admin-help-section, .hq-admin-help-section {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hq-admin-select-input{
    width: 100%;
}
.button-large{
    width: 64px;
    height: 32px;
}

.hq-admin-warning-section p, .hq-admin-help-section p {
    font-style: italic;
}

.fw-brz-dismiss p:last-of-type a {
    color: #fff;
    font-size: 13px;
    line-height: 1;
    background-color: #d62c64;
    box-shadow: 0px 2px 0px 0px #981e46;
    padding: 11px 27px 12px;
    border: 1px solid #d62c64;
    border-bottom: 0;
    border-radius: 3px;
    text-shadow: none;
    height: auto;
    text-decoration: none;
    display: inline-block;
    transition: all 200ms linear;
}
.wp-heading-inline,.hq-admin-h1, .hq-admin-h3{
    text-transform: uppercase;
}
.hq-admin-text-input-medium{
    max-width: 300px;
}
.hq-admin-text-input-small-medium{
    max-width: 120px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.hq-admin-h1{
    padding: 0px !important;
}
.hq-messages-box-success, .hq-messages-box-failed{
    display: none;
}
.hq-title-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hq-title-item{
}
.hq-loader{
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hq-loader-inner-wrapper{
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
}
.hq-submit-login-button-wrapper{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-content: center;
}
.hq-admin-submit-button{
    margin-left: 20px;
}