
.hq-reservation-form-wrapper,
.hq-reservation-form-wrapper select,
.hq-reservation-form-wrapper input,
.hq-reservation-form-wrapper select placeholder,
.hq-reservation-form-wrapper select option{
    font-family: Montserrat, Open Sans, serif !important;
}
#hq-wheelsberry-slider .cars-slider__item-option-label{
    font-family: Open Sans, Montserrat, serif !important;
}
.branding-img{
    max-width: 200px;
    height: auto;
}
.owl-prev, .owl-next{
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
    text-align: center !important;
    border-radius: 50% !important;
    font-size: 32px !important;
    color: red;
    background-color: #333333 !important;
}

.cars-slider__hq-feature-icon{
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 40px !important;
    border-radius: 50%;
    font-size: 25px;
    background-color: grey;
    color: #fff;
    margin-right: 10px;
}
.hq-wheelsberry-image-wrapper{
    width: 45%;
}
@media only screen and (max-width: 519px){
    .hq-wheelsberry-image-wrapper{
        width: 100%;
    }
}
.hq-reservation-item-inner-wrapper{
    overflow:hidden;
}

#reservation-form__pick-up-date-input, #reservation-form__drop-off-date-input{
    background-color: #fff !important;
}
.reservation-form select, .reservation-form input[type=text]{
    height: 50px;
}
.cars-slider__item-category{
    font-family: Montserrat, serif !important;
}
.hq-upper-tag{
    text-transform: uppercase;
    font-size: 16px;
}
@media screen and (min-width: 1350px) {
    .cars-slider .owl-nav{
        padding-top: 20px;
        position: absolute;
        width: 100%;
        bottom: 50%;
    }
}
@media screen and (max-width: 1350px) {
    .cars-slider .owl-nav{
        position: relative;
    }
    .cars-slider .owl-nav button{
        margin-bottom: 20px;
    }
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -45px;
    top: 45%;
}
