.hq-spot-label {
    text-transform: capitalize;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 10px;
    left: -50px;
    min-width: 200px;
    z-index: 3;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    cursor: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
    cursor: none;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
    cursor: none;
}

.ol-viewport {
    overflow: visible !important;
}

.caag-units-showcase-wrapper {
    margin-top: 75px;
    margin-bottom: 25px;
}

.units-showcase-single-figure {
    height: 250px;
    max-width: 380px;
}

@media (min-width: 768px) {
    .property-item img {
        height: 100%;
    }
}
.map, .hq-map-wrapper{
    height: 100%;
    width: 100%;
}
canvas{
    margin-top: 50px;
    margin-bottom: 50px;
}